In [3]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [4]:
wd = pd.read_csv('/Users/reginakhabirova/Downloads/data.csv')

In [10]:
display(wd.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 18 columns):
imdb_id                 1890 non-null object
popularity              1890 non-null float64
budget                  1890 non-null int64
revenue                 1890 non-null int64
original_title          1890 non-null object
cast                    1890 non-null object
director                1890 non-null object
tagline                 1890 non-null object
overview                1890 non-null object
runtime                 1890 non-null int64
genres                  1890 non-null object
production_companies    1890 non-null object
release_date            1890 non-null object
vote_count              1890 non-null int64
vote_average            1890 non-null float64
release_year            1890 non-null int64
profit                  1890 non-null int64
month                   1890 non-null int64
dtypes: float64(2), int64(7), object(9)
memory usage: 265.9+ KB

None

#### 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
wd[wd['runtime'] == wd['runtime'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

#### 4. Какое число ближе к средней длительности фильма в датасете?

In [214]:
wd['runtime'].mean()

109.65343915343915

#### 5. Какое число ближе к медианной длительности фильма в датасете?

In [23]:
wd['runtime'].median()

106.5

#### 6. Какой самый прибыльный фильм?

In [7]:
wd['profit'] = wd['revenue'] - wd['budget']
wd[wd['profit'] == wd['profit'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

#### 7. Какой фильм самый убыточный?

In [97]:
wd['profit'] = wd['revenue'] - wd['budget']
wd[wd['profit'] == wd['profit'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,month,length_title
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12,17

#### 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [216]:
a = wd[wd['revenue']>wd['budget']]
len(a)

1478

#### 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
wd_2008 = wd[wd['release_year'] == 2008]
wd_2008[wd_2008['revenue'] == wd_2008['revenue'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

#### 10. Самый убыточный фильм за период с 2012 по 2014 гг. (включительно)?

In [221]:
wd_2014 = wd[(wd['release_year'] >= 2012) & (wd['release_year'] <= 2014)]
wd_2014[wd_2014['profit'] == wd_2014['profit'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

#### 11. Какого жанра фильмов больше всего?

In [191]:
genres_all = wd['genres'].str.split('|')

a = []
for i in range(len(genres_all)):
    for j in range(len(genres_all[i])):
        a.append(genres_all[i][j])
        
res = Counter(a).most_common(1)
res

[('Drama', 782)]

#### 12. Какого жанра среди прибыльных фильмов больше всего?

In [225]:
gg = wd[wd['profit']>0]['genres'].str.split('|')

a = []
for i in range(len(gg)):
    for j in range(len(gg.iloc[i])):
        a.append(gg.iloc[i][j])
        
res = Counter(a).most_common(1)
res

[('Drama', 560)]

#### 13. Кто из режиссеров снял больше всего фильмов?

In [8]:
from collections import Counter

director = wd['director'].str.split('|')
a = []
for i in range(len(director)):
    for j in range(len(director[i])):
        a.append(director[i][j])
        
res = Counter(a).most_common(1)
res

[('Steven Soderbergh', 13)]

#### 14. Кто из режиссеров снял больше всего прибыльных фильмов?

In [9]:
pd = wd[wd['profit']>0]['director'].str.split('|')

x = []
for i in range(len(pd)):
    for j in range(len(pd.iloc[i])):
        x.append(pd.iloc[i][j]) 
        
x_res = Counter(x).most_common(1)
x_res

[('Ridley Scott', 12)]

#### 15. Кто из режиссеров принес больше всего прибыли?

In [10]:
grouped_wd = wd.groupby(['director'])['profit'].sum().sort_values(ascending=False)
grouped_wd.head(1)

director
Peter Jackson    5202593685
Name: profit, dtype: int64

#### 16. Какой актер принес больше всего прибыли?

In [11]:
from collections import Counter

actors = Counter()

for i, x in enumerate(wd['cast'].str.split('|')):
    for actor in x:
        actors[actor] += wd.loc[i]['revenue']

In [17]:
actors.most_common(1)

[('Emma Watson', 8159245597)]

#### 17. Какой актер принес меньше всего прибыли в 2012 году?

In [49]:
wd_2012 = wd[wd['release_year'] == 2012]

actors_2012 = Counter()

for i, x in enumerate(wd_2012['cast'].str.split('|')):
    for actor in x:
        actors_2012[actor] += wd_2012.iloc[i]['revenue']

list(reversed(actors_2012.most_common()))

[('Danny Huston', 2106557),
 ('Sami Gayle', 2106557),
 ('Josh Lucas', 2106557),
 ('Nicolas Cage', 2106557),
 ('Michael Nyqvist', 3428048),
 ('Paula Patton', 3428048),
 ('Frank Grillo', 3428048),
 ('Hope Davis', 3428048),
 ('Jason Bateman', 3428048),
 ('50 Cent', 4636169),
 ("Vincent D'Onofrio", 4636169),
 ('Rosario Dawson', 4636169),
 ('Josh Duhamel', 4636169),
 ('Samantha Morton', 6063556),
 ('Paul Giamatti', 6063556),
 ('Juliette Binoche', 6063556),
 ('Sarah Gadon', 6063556),
 ('Heidi Hawkins', 8106475),
 ('James Kidnie', 8106475),
 ('Timothy Spall', 8106475),
 ('Lucas Black', 8138788),
 ('Rosemarie DeWitt', 8138788),
 ('Matt Damon', 8138788),
 ('David Koechner', 8493728),
 ('Jean-Luc Bilodeau', 8493728),
 ('Katrina Bowden', 8493728),
 ('Matt Bush', 8493728),
 ('Danielle Panabaker', 8493728),
 ('Tom Sturridge', 8784318),
 ('Sam Riley', 8784318),
 ('Garrett Hedlund', 8784318),
 ('RubÃ©n Blades', 9622846),
 ("Peter O'Toole", 9622846),
 ('Oscar Isaac', 9622846),
 ('Andy GarcÃ\xada', 9622846),
 ('Eva Longoria', 9622846),
 ('Luke Pasqualino', 9627492),
 ('Julianna Guill', 9627492),
 ('Tom Felton', 9627492),
 ('Sebastian Stan', 9627492),
 ('Ashley Greene', 9627492),
 ('Jane Levy', 11417362),
 ('Josh Pence', 11417362),
 ('Chelsea Handler', 11417362),
 ('Jackson Nicoll', 11417362),
 ('Victoria Justice', 11417362),
 ('Mark Duplass', 12434778),
 ('Dennis Quaid', 13231461),
 ('Jeremy Irons', 13231461),
 ('Zoe Saldana', 13231461),
 ('Caroline Goodall', 16863583),
 ('Sigourney Weaver', 16863583),
 ('VerÃ³nica Echegui', 16863583),
 ('Henry Cavill', 16863583),
 ('Kirsten Dunst', 16890793),
 ('Abbie Cornish', 19422261),
 ('Christopher Walken', 19422261),
 ('Sam Rockwell', 19422261),
 ('Clark Duke', 22044277),
 ('Cliff Curtis', 22044277),
 ('Allison Janney', 22044277),
 ('Eddie Murphy', 22044277),
 ('Lauren Ambrose', 24159934),
 ('Justin Theroux', 24159934),
 ('Jennifer Aniston', 24159934),
 ('Carmen Ejogo', 24637469),
 ('Mike Epps', 24637469),
 ('Derek Luke', 24637469),
 ('Cee Lo Green', 24637469),
 ('Whitney Houston', 24637469),
 ('Dermot Mulroney', 24719215),
 ('Vinessa Shaw', 24719215),
 ('Kristen Bell', 24719215),
 ('Drew Barrymore', 24719215),
 ('Olivia Wilde', 25666239),
 ('Malin Ã…kerman', 26266491),
 ('Jesse Plemons', 28258060),
 ('Laura Dern', 28258060),
 ('Amy Adams', 28258060),
 ('Philip Seymour Hoffman', 28258060),
 ('Joaquin Phoenix', 28258060),
 ('Kevin McNally', 29657751),
 ('Alice Eve', 29657751),
 ('Luke Evans', 29657751),
 ('John Cusack', 29657751),
 ('Giancarlo Esposito', 30353232),
 ('Matthew Fox', 30353232),
 ('Jean Reno', 30353232),
 ('Rachel Nichols', 30353232),
 ('Tyler Perry', 30353232),
 ('WolÃ© Parks', 31083599),
 ('Jamie Chung', 31083599),
 ('Dania Ramirez', 31083599),
 ('Michael Shannon', 31083599),
 ('Peter Stormare', 32204030),
 ('Lennie James', 32204030),
 ('Joseph Gilgun', 32204030),
 ('Mia Moretti', 32726956),
 ('Rachael Markarian', 32726956),
 ('Shannon Woodward', 32726956),
 ('Russell Brand', 32726956),
 ('Katy Perry', 32726956),
 ('John Krasinski', 32858003),
 ('Bill Paxton', 33372606),
 ('Gina Carano', 33372606),
 ('Nina Dobrev', 33400000),
 ('Ezra Miller', 33400000),
 ('Emma Watson', 33400000),
 ('Logan Lerman', 33400000),
 ('Monica Raymund', 35485056),
 ('Brit Marling', 35485056),
 ('Tim Roth', 35485056),
 ('Richard Gere', 35485056),
 ('Patrick Fischler', 36893721),
 ('Sherri Shepherd', 36893721),
 ('Debbie Reynolds', 36893721),
 ('Katherine Heigl', 36893721),
 ('Ray Liotta', 37930465),
 ('James Gandolfini', 37930465),
 ('Ben Mendelsohn', 37930465),
 ('Scoot McNairy', 37930465),
 ('Brad Pitt', 37930465),
 ('Robert John Burke', 40346186),
 ('Catherine Chan', 40346186),
 ('James Hong', 40346186),
 ('Chris Sarandon', 40346186),
 ('Jason Cope', 41037742),
 ('Wood Harris', 41037742),
 ('Lena Headey', 41037742),
 ('Olivia Thirlby', 41037742),
 ('Karl Urban', 41037742),
 ('Adrianne Palicki', 44806783),
 ('Isabel Lucas', 44806783),
 ('Edward Burns', 46221189),
 ('Ed Harris', 46221189),
 ('Jamie Bell', 46221189),
 ('Benicio del Toro', 47000000),
 ('Aaron Taylor-Johnson', 47000000),
 ('Blake Lively', 47000000),
 ('Noah Segan', 47042000),
 ('Paul Dano', 47042000),
 ('David Harbour', 48126384),
 ('Natalie Martinez', 48126384),
 ('Michael PeÃ±a', 48126384),
 ('Jake Gyllenhaal', 48126384),
 ('Terrence Howard', 50365377),
 ('Daniela Ruah', 50365377),
 ('Cuba Gooding Jr.', 50365377),
 ('Radha Mitchell', 52302796),
 ('Carrie-Anne Moss', 52302796),
 ('Sean Bean', 52302796),
 ('Kit Harington', 52302796),
 ('Adelaide Clemens', 52302796),
 ('Mia Wasikowska', 53676580),
 ('Shia LaBeouf', 53676580),
 ('Alison Brie', 53909751),
 ('SofÃ\xada Vergara', 54819301),
 ('Chris Diamantopoulos', 54819301),
 ('Will Sasso', 54819301),
 ('Sean Hayes', 54819301),
 ('Andy Samberg', 58058367),
 ('Leighton Meester', 58058367),
 ('Eva Amurri Martino', 58058367),
 ('Julianne Hough', 59418613),
 ('Diego Boneta', 59418613),
 ('Michael Gambon', 59520298),
 ('Pauline Collins', 59520298),
 ('Tom Courtenay', 59520298),
 ('Maggie Smith', 59520298),
 ('J.K. Simmons', 63100000),
 ('Ben Foster', 63100000),
 ('Jesse Williams', 66486080),
 ('Fran Kranz', 66486080),
 ('Anna Hutchison', 66486080),
 ('Kristen Connolly', 66486080),
 ('Bill Murray', 68263166),
 ('Kara Hayward', 68263166),
 ('Jared Gilman', 68263166),
 ('Zachary Gordon', 77112176),
 ('Rachael Harris', 77112176),
 ('Peyton List', 77112176),
 ('Steve Zahn', 77112176),
 ('Devon Bostick', 77112176),
 ('Joseph Gordon-Levitt', 78125599),
 ('Jennifer Lopez', 79700000),
 ('Cameron Diaz', 79700000),
 ('Alexander Asefa', 81272766),
 ('Gonzalo Menendez', 81272766),
 ('Nestor Serrano', 81272766),
 ('Emilio Rivera', 81272766),
 ('Roselyn SÃ¡nchez', 81272766),
 ('Martin Landau', 81491068),
 ('Martin Short', 81491068),
 ("Catherine O'Hara", 81491068),
 ('Winona Ryder', 81491068),
 ('Charlie Tahan', 81491068),
 ('Rob LaBelle', 85446075),
 ('Kyra Sedgwick', 85446075),
 ('Madison Davenport', 85446075),
 ('Natasha Calis', 85446075),
 ('Maude Apatow', 88058786),
 ('Leslie Mann', 88058786),
 ('Susan Sarandon', 93543423),
 ('Kevin Hart', 96070507),
 ('Regina Hall', 96070507),
 ('Meagan Good', 96070507),
 ('Jerry Ferrara', 96070507),
 ('Kirby Bliss Blanton', 100000000),
 ('Dax Flame', 100000000),
 ('Thomas Mann', 100000000),
 ('Jonathan Daniel Brown', 100000000),
 ('Oliver Cooper', 100000000),
 ('Emily Blunt', 100951751),
 ('Casey Affleck', 107139399),
 ('Jodelle Ferland', 107139399),
 ('Tucker Albrizzi', 107139399),
 ('Kodi Smit-McPhee', 107139399),
 ('Rufus Sewell', 112265139),
 ('Mary Elizabeth Winstead', 112265139),
 ('Anthony Mackie', 112265139),
 ('Dominic Cooper', 112265139),
 ('Benjamin Walker', 112265139),
 ('Marin Ireland', 114281051),
 ('Jean Smart', 114281051),
 ('Steve Carell', 114281051),
 ('Meryl Streep', 114281051),
 ('Rebel Wilson', 115350426),
 ('Anna Camp', 115350426),
 ('Brittany Snow', 115350426),
 ('Skylar Astin', 115350426),
 ('Brian Blessed', 118338361),
 ('Jeremy Piven', 118338361),
 ('Hugh Grant', 118338361),
 ('Bailee Madison', 119772232),
 ('Tom Everett Scott', 119772232),
 ('Marisa Tomei', 119772232),
 ('Bette Midler', 119772232),
 ('Billy Crystal', 119772232),
 ('Mary Stockley', 127730736),
 ('Alisa Khazanova', 127730736),
 ('Sidney Johnston', 127730736),
 ('Daniel Radcliffe', 127730736),
 ('Jeffrey Dean Morgan', 130252858),
 ('Hugo Weaving', 130482868),
 ('Jim Broadbent', 130482868),
 ('Halle Berry', 130482868),
 ('Tom Hanks', 130482868),
 ('India Eisley', 132400000),
 ('Theo James', 132400000),
 ('Stephen Rea', 132400000),
 ('Joel Edgerton', 132820716),
 ('Jason Clarke', 132820716),
 ('Jim Sturgess', 138589343),
 ('Jessica Guadix', 140470746),
 ('Megan Boone', 140470746),
 ('Stephen Boss', 140470746),
 ('Ryan Guzman', 140470746),
 ('Kathryn McCormick', 140470746),
 ('Jason Segel', 141968537),
 ('Sprague Grayden', 142817992),
 ('Brady Allen', 142817992),
 ('Matt Shively', 142817992),
 ('Kathryn Newton', 142817992),
 ('Katie Featherston', 142817992),
 ('Anna Wood', 145000000),
 ('Michael Kelly', 145000000),
 ('Michael B. Jordan', 145000000),
 ('Alex Russell', 145000000),
 ('Dane DeHaan', 145000000),
 ('Paul Rudd', 145618720),
 ('Salma Hayek', 165338361),
 ('Alex Pettyfer', 167221571),
 ('Cody Horn', 167221571),
 ('Olivia Munn', 167221571),
 ('Matthew McConaughey', 167221571),
 ('Anna Faris', 179379533),
 ('Aasif Mandvi', 179379533),
 ('Sayed Badreya', 179379533),
 ('Oaklee Pendergast', 180274123),
 ('Samuel Joslin', 180274123),
 ('Tom Holland', 180274123),
 ('Naomi Watts', 180274123),
 ('Martin Klebba', 183018522),
 ('Nathan Lane', 183018522),
 ('Armie Hammer', 183018522),
 ('Lily Collins', 183018522),
 ('Julia Roberts', 183018522),
 ('Jessica Chastain', 186497296),
 ('Chris Pratt', 186730467),
 ('Jessica Lange', 196114570),
 ('Scott Speedman', 196114570),
 ('Sam Neill', 196114570),
 ('Rachel McAdams', 196114570),
 ('Bill Nighy', 198802074),
 ('Jessica Biel', 198802074),
 ('Ellie Kemper', 201585328),
 ('Dave Franco', 201585328),
 ('Brie Larson', 201585328),
 ('Jonah Hill', 201585328),
 ('Chris Tucker', 205738714),
 ('Jacki Weaver', 205738714),
 ('Robert De Niro', 205738714),
 ('Joel Kinnaman', 208076205),
 ('Vera Farmiga', 208076205),
 ('Ryan Reynolds', 208076205),
 ('Denzel Washington', 208076205),
 ('Ewan McGregor', 213646729),
 ('Colin Farrell', 218224335),
 ('Werner Herzog', 218340595),
 ('Richard Jenkins', 218340595),
 ('Bradley Cooper', 218970175),
 ('Michael Ealy', 228470507),
 ('Victor Garber', 232324128),
 ('John Goodman', 232324128),
 ('Alan Arkin', 232324128),
 ('Ben Affleck', 232324128),
 ('Thomas Ian Nicholas', 234989584),
 ('Chris Klein', 234989584),
 ('Alyson Hannigan', 234989584),
 ('Jason Biggs', 234989584),
 ('Li Bingbing', 240159255),
 ('Aryana Engineer', 240159255),
 ('Michelle Rodriguez', 240159255),
 ('Sienna Guillory', 240159255),
 ('Milla Jovovich', 240159255),
 ('Jonny Lee Miller', 245527149),
 ('Jackie Earle Haley', 245527149),
 ('Helena Bonham Carter', 245527149),
 ('Johnny Depp', 245527149),
 ('Michelle Pfeiffer', 257961927),
 ('Megan Fox', 267438319),
 ('David Oyelowo', 268705972),
 ('Stacy Keach', 276572938),
 ('Scott Glenn', 276572938),
 ('Rachel Weisz', 276572938),
 ('Jeremy Renner', 276572938),
 ('Tom Cruise', 277759208),
 ('Willem Dafoe', 284139100),
 ('Lynn Collins', 284139100),
 ('Edgar RamÃ\xadrez', 301000000),
 ('Tadanobu Asano', 303025485),
 ('Rihanna', 303025485),
 ('Alexander SkarsgÃ¥rd', 303025485),
 ('Isla Fisher', 306941670),
 ('Jude Law', 306941670),
 ('Arnold Schwarzenegger', 312573423),
 ('Dolph Lundgren', 312573423),
 ('Sylvester Stallone', 312573423),
 ('Chris Pine', 319376448),
 ('Edward Norton', 344836104),
 ('Sam Worthington', 347221189),
 ('Rob Riggle', 348840316),
 ('Ed Helms', 348840316),
 ('Taylor Swift', 348840316),
 ('Danny DeVito', 348840316),
 ('Zac Efron', 348840316),
 ('Anna Kendrick', 350316209),
 ('Jason Statham', 352919609),
 ('Luis GuzmÃ¡n', 355692760),
 ('Vanessa Hudgens', 355692760),
 ('Kristin Davis', 355692760),
 ('Dwayne Johnson', 355692760),
 ('Brendan Gleeson', 356072317),
 ('Selena Gomez', 358375603),
 ('Kevin James', 358375603),
 ('David Spade', 358375603),
 ('Steve Buscemi', 358375603),
 ('Alec Baldwin', 366360283),
 ('Luke Grimes', 376141306),
 ('Rade Serbedzija', 376141306),
 ('Famke Janssen', 376141306),
 ('Brooklyn Decker', 382725485),
 ('Kate Beckinsale', 394302074),
 ('Ian McShane', 396600000),
 ('Sam Claflin', 396600000),
 ('Idris Elba', 403170142),
 ('Noomi Rapace', 403170142),
 ('Maggie Grace', 408345336),
 ('CiarÃ¡n Hinds', 411869836),
 ('Adam Sandler', 416433970),
 ('Mark Strong', 416959816),
 ('Samuel L. Jackson', 425368238),
 ('Leonardo DiCaprio', 425368238),
 ('Christoph Waltz', 425368238),
 ('Jamie Foxx', 425368238),
 ('Michael Fassbender', 436542748),
 ('Amanda Seyfried', 441809770),
 ('Russell Crowe', 441809770),
 ('Kerry Washington', 447412515),
 ('Bruce Willis', 449378341),
 ('Jamie Elman', 471222889),
 ('Jack McBrayer', 471222889),
 ('Sarah Silverman', 471222889),
 ('John C. Reilly', 471222889),
 ('Guy Pearce', 489050752),
 ('Rosamund Pike', 519340595),
 ('Jane Lynch', 526042190),
 ('Kevin McKidd', 538983207),
 ('Julie Walters', 538983207),
 ('Kelly Macdonald', 538983207),
 ('Bryan Cranston', 540910192),
 ('Joel McHale', 549368315),
 ('Seth MacFarlane', 549368315),
 ('Mila Kunis', 549368315),
 ('Channing Tatum', 598294075),
 ('Billy Connolly', 598503505),
 ('Adil Hussain', 609016565),
 ('Gautam Belur', 609016565),
 ('Ayush Tandon', 609016565),
 ('Irrfan Khan', 609016565),
 ('Suraj Sharma', 609016565),
 ('Giovanni Ribisi', 612468315),
 ('Mark Wahlberg', 612468315),
 ('Michael Stuhlbarg', 624026776),
 ('Josh Brolin', 624026776),
 ('Will Smith', 624026776),
 ('Taylor Kitsch', 634164585),
 ('Liam Neeson', 677141306),
 ('Liam Hemsworth', 691210692),
 ('Woody Harrelson', 710632953),
 ('Tommy Lee Jones', 738307827),
 ('Chris Rock', 746921274),
 ('David Schwimmer', 746921274),
 ('Ben Stiller', 746921274),
 ('Hugh Jackman', 748751440),
 ('Martin Sheen', 752215857),
 ('Emma Stone', 752215857),
 ('Andrew Garfield', 752215857),
 ('Frances McDormand', 755060062),
 ('Charlize Theron', 799770142),
 ('Rhys Ifans', 806125608),
 ('Elizabeth Reaser', 829000000),
 ('Peter Facinelli', 829000000),
 ('Taylor Lautner', 829000000),
 ('Elizabeth Banks', 829566659),
 ('Robert Pattinson', 835063556),
 ('Chris Wedge', 877244782),
 ('Ray Romano', 877244782),
 ('Jennifer Lawrence', 896949406),
 ('John Leguizamo', 914138503),
 ('Cate Blanchett', 1017003568),
 ('Andy Serkis', 1017003568),
 ('Richard Armitage', 1017003568),
 ('Martin Freeman', 1017003568),
 ('Ian McKellen', 1017003568),
 ('Gary Oldman', 1081041287),
 ('Michael Caine', 1081041287),
 ('Christian Bale', 1081041287),
 ('Josh Hutcherson', 1091710235),
 ('Naomie Harris', 1108561013),
 ('Javier Bardem', 1108561013),
 ('Judi Dench', 1108561013),
 ('Daniel Craig', 1108561013),
 ('Seann William Scott', 1112234366),
 ('Tom Hardy', 1134717867),
 ('Emma Thompson', 1163009983),
 ('Kristen Stewart', 1234384318),
 ('Sacha Baron Cohen', 1368110577),
 ('Ralph Fiennes', 1409561013),
 ('Scarlett Johansson', 1519557910),
 ('Mark Ruffalo', 1519557910),
 ('Chris Evans', 1519557910),
 ('Robert Downey Jr.', 1519557910),
 ('Anne Hathaway', 1522851057),
 ('Denis Leary', 1629460639),
 ('Chris Hemsworth', 2027450773)]

In [54]:
actors_2012 = Counter()

#### 18. Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [58]:
wd_high_budget = wd[wd['budget'] > wd['budget'].mean()]

In [78]:
actors_high_budget = Counter()

for i, x in enumerate(wd_high_budget['cast'].str.split('|')):
    for actor in x:
        actors_high_budget[actor] += 1
        
actors_high_budget.most_common(1)

[('Matt Damon', 18)]

#### 19. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [79]:
gg = wd[wd['cast'].str.contains('Nicolas Cage')]['genres'].str.split('|')

a = []
for i in range(len(gg)):
    for j in range(len(gg.iloc[i])):
        a.append(gg.iloc[i][j])
        
res = Counter(a).most_common(1)
res

[('Action', 17)]

#### 20. Какая студия сняла больше всего фильмов?

In [67]:
pc = wd['production_companies'].str.split('|')

a = []
for i in range(len(pc)):
    for j in range(len(pc[i])):
        a.append(pc[i][j])
        
res = Counter(a).most_common(1)
res

[('Universal Pictures', 173)]

In [68]:
pc.head()

0    [Universal Studios, Amblin Entertainment, Lege...
1    [Village Roadshow Pictures, Kennedy Miller Pro...
2    [Summit Entertainment, Mandeville Films, Red W...
3        [Lucasfilm, Truenorth Productions, Bad Robot]
4    [Universal Pictures, Original Film, Media Righ...
Name: production_companies, dtype: object

#### 21. Какая студия сняла больше всего фильмов в 2015 году?

In [263]:
pc_2015 = wd[wd['release_year'] >= 2015]['production_companies'].str.split('|')

In [264]:
a = []
for i in range(len(pc_2015)):
    for j in range(len(pc_2015.iloc[i])):
        a.append(pc_2015.iloc[i][j])
        
res = Counter(a).most_common(1)
res

[('Warner Bros.', 12)]

#### 22. Какая студия заработала больше всего денег в жанре комедий за все время?

In [81]:
pc_com = wd[wd['genres'].str.contains('Comedy')]

In [101]:
production_companies = Counter()

for i, c in enumerate(pc_com['production_companies'].str.split('|')):
    for company in c:
        production_companies[company] += pc_com.iloc[i]['revenue']

production_companies.most_common(1)

[('Universal Pictures', 12787945581)]

#### 23. Какая студия заработала больше всего денег в 2012 году?

In [83]:
wd_2012 = wd[wd['release_year'] == 2012]

In [103]:
production_companies_2012 = Counter()

for i, c in enumerate(wd_2012['production_companies'].str.split('|')):
    for company in c:
        production_companies_2012[company] += wd_2012.iloc[i]['revenue']

production_companies_2012.most_common(1)

[('Columbia Pictures', 3468406608)]

#### 24. Самый убыточный фильм от Paramount Pictures?

In [429]:
grouped_wd = wd[wd['production_companies'].str.contains('Paramount Pictures')].groupby(['original_title'])['profit'].sum().sort_values(ascending=True)
grouped_wd.head(1)

original_title
K-19: The Widowmaker   -64831034
Name: profit, dtype: int64

#### 25. Какой самый прибыльный год (в какой год студии заработали больше всего)?

In [433]:
grouped_wd = wd.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
grouped_wd.head(5)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
Name: profit, dtype: int64

#### 26. Какой самый прибыльный год для студии Warner Bros?

In [434]:
grouped_wd = wd[wd['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
grouped_wd.head(5)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

#### 27. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [167]:
release_date = wd['release_date'].iloc[0:]

months = []
for i in release_date:
    months.append(datetime.strptime(i, '%m/%d/%Y').month)

In [165]:
res = Counter(months).most_common(1)
res

[(9, 227)]

#### 28. Сколько суммарно вышло фильмов летом (за июнь, июль, август)?

In [283]:
months_summer = []
for i in release_date:
    month = datetime.strptime(i, '%m/%d/%Y').month
    if month in (6,7,8):
        months_summer.append(month)

In [178]:
len(months_summer)

450

#### 29. Какой режиссер выпускает (суммарно по годам) больше всего фильмов зимой?

In [9]:
wd['month'] = [datetime.strptime(i, '%m/%d/%Y').month for i in wd['release_date']]

In [200]:
wd_winter = wd[(wd['month'] == 1 )|(wd['month'] == 2)|(wd['month'] == 12)]

In [202]:
res = Counter(wd_winter['director']).most_common(1)
res

[('Peter Jackson', 7)]

#### 30. Какой месяц чаще всего самый прибыльный в году?

In [136]:
wd['ym_revenue'] = wd.groupby(['month', 'release_year'])['revenue'].transform(np.sum) 
wd['ym_revenue_rnk'] = wd.groupby(['release_year'])['ym_revenue'].rank(method='dense', ascending=False)

wd[['month', 'release_year','ym_revenue_rnk']].drop_duplicates().loc[wd['ym_revenue_rnk'] == 1] \
    .groupby(['month']).size().sort_values(ascending=False)

month
6     7
12    5
5     3
7     1
dtype: int64

#### 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?

In [78]:
wd['length_title'] = [len(x) for x in wd['original_title']]
from collections import Counter
tl = Counter()
for i, x in enumerate(wd['production_companies'].str.split('|')):
    for a in x:
        tl[a] += wd.loc[i]['length_title']  
        
length_title = pd.DataFrame.from_dict(tl, orient = 'index').reset_index()
length_title = length_title.rename(columns={'index':'company', 0:'length_title'})
length_title.head()

In [71]:
n = Counter()
for i, x in enumerate(wd['production_companies'].str.split('|')):
    for a in x:
        n[a] += 1
        
numb = pd.DataFrame.from_dict(n, orient = 'index').reset_index()
numb = numb.rename(columns={'index':'company', 0:'numb'})
numb.head()

In [174]:
joined = length_title.merge(numb, on='company', how='left')
joined['avg_lenght']  = joined['length_title'] / joined['numb']
joined.sort_values(by = 'avg_lenght', ascending = False).head(1)

                      company  length_title  numb  avg_lenght
1506  Four By Two Productions            83     1        83.0

#### 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
wd['count_words_title'] = wd['original_title'].str.split().str.len()

In [182]:
from collections import Counter
cw = Counter()
for i, x in enumerate(wd['production_companies'].str.split('|')):
    for a in x:
        cw[a] += wd.loc[i]['count_words_title']  
        
count_words_title = pd.DataFrame.from_dict(cw, orient = 'index').reset_index()
count_words_title = count_words_title.rename(columns={'index':'company', 0:'count_words_title'})

In [183]:
# numb from question 31
joined = count_words_title.merge(numb, on='company', how='left')
joined['avg_count_words']  = joined['count_words_title'] / joined['numb']
joined.sort_values(by = 'avg_count_words', ascending = False).head(1)

                      company  count_words_title  numb  avg_count_words
1506  Four By Two Productions                 12     1             12.0

#### 33. Сколько разных слов используется в названиях фильмов (без учета регистра)?

In [253]:
wd['original_title_clean'] = wd['original_title'].str.replace('[#:!?-]', '') 
words_all = wd['original_title_clean'].str.split(' ')

In [254]:
a = []
for i in range(len(words_all)):
    for j in range(len(words_all[i])):
        a.append(words_all[i][j])
        
unique_list = [] 

for i in a:
    if i not in unique_list:
        unique_list.append(i)
        
len(unique_list)

2409

#### 34. Какие фильмы входят в 1 % лучших по рейтингу?

In [265]:
best_movies = wd['original_title'][wd['vote_average'] >= wd['vote_average'].quantile(.99)]

In [277]:
q1 = 0
q2 = 0
q3 = 0
q4 = 0
q5 = 0

for i in best_movies:
    if i in ('Inside Out', 'Gone Girl', '12 Years a Slave'):
       q1+=1

for i in best_movies:
    if i in ('BloodRayne', 'The Adventures of Rocky and Bullwinkle'):
       q2+=1

for i in best_movies:
    if i in ('The Lord of the Rings: The Return of the King', 'Upside Down'):
       q3+=1   
    
for i in best_movies:
    if i in ('300', 'Lucky Number Slevin'):
       q4+=1  

for i in best_movies:
    if i in ('Upside Down', '300', 'Inside Out', 'The Lord of the Rings: The Return of the King'):
       q5+=1

In [278]:
print(q1, q2, q3, q4, q5)

3 0 1 0 2

#### 35. Какие актеры чаще всего снимаются в одном фильме вместе?

In [279]:
from collections import defaultdict

actors_couple = defaultdict(list)

for i, row in data.iterrows():
    imdb_id = row['imdb_id']
    for actor in row['cast'].split('|'):
        actorsDict['imdb_id'].append(imdb_id)
        actorsDict['actor'].append(actor)
        
actorsDF = pd.DataFrame(actorsDict)
am = actorsDF.merge(data,how='inner',on = 'imdb_id')

Index(['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast',
       'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year', 'profit', 'month', 'length_title', 'ym_revenue',
       'ym_revenue_rnk', 'count_words_title', 'original_title_clean'],
      dtype='object')

In [316]:
from collections import defaultdict
actors = defaultdict(list)

for i, row in wd.iterrows():
    imdb_id = row['imdb_id']
    for actor in row['cast'].split('|'):
        actors['imdb_id'].append(imdb_id)
        actors['actor'].append(actor)

In [317]:
actors = pd.DataFrame(actorsDict)
actors_couple = actorsDF.merge(actorsDF,how='inner',on = 'imdb_id')
actors_couple = actors_couple[actors_couple['actor_x'] != actors_couple['actor_y']]

In [318]:
actors_couple.groupby(['actor_x', 'actor_y'])['imdb_id'].count().sort_values(ascending=False).head(10)

actor_x               actor_y
Rupert Grint          Emma Watson             8
                      Daniel Radcliffe        8
Emma Watson           Rupert Grint            8
Daniel Radcliffe      Rupert Grint            8
                      Emma Watson             8
Emma Watson           Daniel Radcliffe        8
Owen Wilson           Ben Stiller             6
Helena Bonham Carter  Johnny Depp             6
Ben Stiller           Owen Wilson             6
Johnny Depp           Helena Bonham Carter    6
Name: imdb_id, dtype: int64

#### 36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?

In [329]:
directors = Counter()

for i, x in enumerate(wd['director'].str.split('|')):
    for director in x:
        directors[director] += 1

In [334]:
wd_exp = wd[wd['revenue'] > wd['budget']] 

directors_exp = Counter()

for i, x in enumerate(wd_exp['director'].str.split('|')):
    for director in x:
        directors_exp[director] += 1

In [335]:
directors_df = pd.DataFrame.from_dict(directors, orient = 'index').reset_index()
directors_df = directors_df.rename(columns={'index':'director', 0:'movies_cnt'})
directors_df.head()

           director  movies_cnt
0   Colin Trevorrow           1
1     George Miller           3
2  Robert Schwentke           4
3       J.J. Abrams           5
4         James Wan           4

In [337]:
directors_exp_df = pd.DataFrame.from_dict(directors_exp, orient = 'index').reset_index()
directors_exp_df = directors_exp_df.rename(columns={'index':'director', 0:'movies_exp_cnt'})
directors_exp_df.head()

           director  movies_exp_cnt
0   Colin Trevorrow               1
1     George Miller               3
2  Robert Schwentke               3
3       J.J. Abrams               5
4         James Wan               3

In [341]:
joined = directors_df.merge(directors_exp_df, on='director', how='left')
joined['share']  = joined['movies_exp_cnt'] / joined['movies_cnt']
#joined.sort_values(by = 'share', ascending = False).head(1)

In [344]:
z = joined[joined['share'] >= 1]

In [346]:
z[z['movies_cnt'] == z['movies_cnt'].max()]

       director  movies_cnt  movies_exp_cnt  share
7  Ridley Scott          12            12.0    1.0

In [359]:
z[(z['director'] == 'Quentin Tarantino' ) | (z['director'] == 'Steven Soderbergh') | \
  (z['director'] == 'Robert Rodriguez' )  | (z['director'] == 'Christopher Nolan' ) | \
  (z['director'] == 'Clint Eastwood' ) ]

              director  movies_cnt  movies_exp_cnt  share
122  Christopher Nolan           8             8.0    1.0